@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@import "bootstrap/scss/bootstrap.scss";


* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(247, 247, 247);
    width: 100%;
    overflow-x: hidden;
}

form,
input,
label,
h4 {
    @include p_color;
}

img {
    width: 100%;
    // max-width: 150px;
    // min-width: 80px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.ms_icon-sponsored {
    position: absolute;
    font-size: 1.5rem;
    top: 7px;
    right: 7px;
    color: #0dcaf0;
    filter: drop-shadow(2px 3px 2px #0dcaf0);
}

.ms_shadow {
    box-shadow: 3px 20px 20px 3px #ccc;
}

.ms_shadow-sponsored {
    box-shadow: 3px 10px 10px 3px rgba($color: #0dcaf0, $alpha: .4);
}

.ms_searchbox {
}
    
.ms_image-details-page-box {
    margin: 0 auto;
    img {
        width: 120px;
        height: 60px !important;
        cursor: pointer;
    }
}  

